version: "3"
services:

  #---------------------------------------------------------------
  # Postgresql Database
  #---------------------------------------------------------------
  db:
    build:
      context: ./data-access-service/docker/postgresql
    image: 'ulyssejdv/postgresql:${TAG}'
    deploy:
      replicas: 3
      restart_policy:
        condition: on-failure
    ports:
      - "25432:5432"
    volumes:
      - "/webank/main:/var/lib/postgresql/9.3/main"
    networks:
      - webnet

  #---------------------------------------------------------------
  # Service who communicate with the database
  #---------------------------------------------------------------
  data-access-service:
    build:
      context: ./data-access-service
      dockerfile: ./docker/data-access-service/Dockerfile
      args:
        JAR_FILE: "target/data-access-service.jar"
    image: 'ulyssejdv/data-access-service:${TAG}'
    deploy:
      replicas: 3
      restart_policy:
        condition: on-failure
    ports:
      - "25000:25000"
    depends_on:
      - db
    networks:
      - webnet

  #---------------------------------------------------------------
  # Service who communicate with the database second instance
  #---------------------------------------------------------------
  data-access-service-2:
    build:
      context: ./data-access-service
      dockerfile: ./docker/data-access-service-2/Dockerfile
      args:
        JAR_FILE: "target/data-access-service.jar"
    image: 'ulyssejdv/data-access-service-2:${TAG}'
    ports:
      - "25010:25010"
    depends_on:
      - db
    networks:
      - webnet

  #---------------------------------------------------------------
  # fail-over-soa
  #---------------------------------------------------------------
  fail-over-soa:
    build:
      context: ./fail-over-soa
      dockerfile: ./docker/fail-over-soa/Dockerfile
      args:
        JAR_FILE: "target/fail-over-soa.jar"
    image: 'ulyssejdv/fail-over-soa:${TAG}'
    ports:
      - "25030:25030"
    depends_on:
      - data-access-service
      - data-access-service-2
    networks:
      - webnet

  #---------------------------------------------------------------
  # Service who communicate with the android devices
  #---------------------------------------------------------------
  webank-front-android:
    build:
      context: ./webank-front-android
      dockerfile: ./docker/Dockerfile
      args:
        JAR_FILE: "target/webank-front-android.jar"
    image: 'ulyssejdv/webank-front-android:${TAG}'
    deploy:
      replicas: 3
      restart_policy:
        condition: on-failure
    ports:
      - "9090:9090"
    depends_on:
      - data-access-service
    networks:
      - webnet

  #---------------------------------------------------------------
  # Service who communicate with the HDFS cluster
  #---------------------------------------------------------------
  webank-hdfs-service:
    build:
      context: ./webank-hdfs-service
      dockerfile: ./docker/Dockerfile
      args:
        JAR_FILE: "target/webank-hdfs-service.jar"
    image: 'ulyssejdv/webank-hdfs-service:${TAG}'
    deploy:
      replicas: 3
      restart_policy:
        condition: on-failure
    ports:
      - "25100:25100"
    networks:
      - webnet

  #---------------------------------------------------------------
  # Web App
  #---------------------------------------------------------------
  webapp:
    build:
      context: ./webank-webapp
      dockerfile: ./docker/Dockerfile
      args:
        JAR_FILE: "target/webank-webapp.war"
    image: 'ulyssejdv/webank-webapp:${TAG}'
    deploy:
      replicas: 3
      restart_policy:
        condition: on-failure
    ports:
      - "8080:8080"
    depends_on:
      - data-access-service
      - fail-over-soa
    networks:
      - webnet
  
  visualizer:
    image: dockersamples/visualizer:stable
    ports:
      - "8888:8080"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    deploy:
      placement:
        constraints: [node.role == manager]
    networks:
      - webnet
networks:
  webnet:

volumes:
  db_data:

